<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeLastFullScreenAdTime</key>
	<string>23</string>
	<key>beforeLastLaunchTime</key>
	<string>9</string>
	<key>afterLastLaunchTime</key>
	<string>300</string>
	<key>afterFirstLaunchTime</key>
	<string>30</string>
	<key>fakeLaunchScreen</key>
	<string>false</string>
	<key>calendarAdRemovalButton</key>
	<string>true</string>
	<key>calendarHomeAD</key>
	<string>false</string>
	<key>subscription_Price</key>
	<string>₩19,900 / 12개월</string>
	<key>subscription_Detail</key>
	<string>매년 ₩19,900의 요금이 청구되며 구독은 언제든지 해지할 수 있습니다. 다음 요금 결제일 24시간 전까지 앱스토어 계정의 구독 관리를 통해 구독을 해지해야 갱신되지 않습니다.</string>
	<key>newsListNextBigCell</key>
	<string>13</string>
	<key>newsListImageWords</key>
	<string>SON,손흥민,이강인,김민재,황희찬,조규성,류현진,김하성</string>
	<key>newsListBigAdIndex</key>
	<string>26,52,78,104,130,156,182,208,234,260,286,312,338</string>
	<key>newsListAdIndex</key>
	<string>7,20,33,46,59,72,85,98,111,124,137,150,163,176,189,202,215,228,241,254,267,280,293,306,319,332,345</string>
	<key>newsDB_GithubURL</key>
	<string>https://raw.githubusercontent.com/Jay-Hong/News_JSON/master/newsURL.json</string>
	<key>newsHomeAD</key>
	<string>false</string>
	<key>jobDetailAD</key>
	<string>false</string>
	<key>jobListAD</key>
	<string>false</string>
	<key>jobInfoMail</key>
	<string>▹ 상세한 채용정보는 많은 지원자로 이어집니다

지역:

제목:

직종:

급여:

인원:

연락처:

상세내용:


근무조건: #숙식제공  #4대보험  #장기근무  #단기근무  #출퇴근가능

📷 채용관련 사진 한장 등록 가능

✔︎ 간단한 검토 후 채용공고가 등록됩니다
(등록에 시간이 걸릴 수 있습니다)
</string>
	<key>applyByMessage</key>
	<string>채용공고 보고 지원 드립니다
이름: OOO
나이: OO
경력:
</string>
	<key>jobInfoJSON</key>
	<string>[
  {
    &quot;title&quot;: &quot;서버 점검중 입니다&quot;,
    &quot;site&quot;: &quot;전국&quot;,
    &quot;type&quot;: &quot;&quot;,
    &quot;pay&quot;: &quot;&quot;,
    &quot;etc1&quot;: &quot;&quot;,
    &quot;etc2&quot;: &quot;&quot;,
    &quot;etc3&quot;: &quot;&quot;,
    &quot;numpeople&quot;: &quot;&quot;,
    &quot;phone&quot;: &quot;&quot;,
    &quot;detail&quot;: &quot;Remote Config from Firebase&quot;,
    &quot;imageURL&quot;: &quot;&quot;,
    &quot;time&quot;: &quot;&quot;,
    &quot;sponsored&quot;: &quot;&quot;
  },
  {
    &quot;title&quot;: &quot;&quot;,
    &quot;site&quot;: &quot;&quot;,
    &quot;type&quot;: &quot;&quot;,
    &quot;pay&quot;: &quot;&quot;,
    &quot;etc1&quot;: &quot;&quot;,
    &quot;etc2&quot;: &quot;&quot;,
    &quot;etc3&quot;: &quot;&quot;,
    &quot;numpeople&quot;: &quot;&quot;,
    &quot;phone&quot;: &quot;&quot;,
    &quot;detail&quot;: &quot;&quot;,
    &quot;imageURL&quot;: &quot;&quot;,
    &quot;time&quot;: &quot;&quot;,
    &quot;sponsored&quot;: &quot;&quot;
  }
]</string>
	<key>removeAD_Price</key>
	<string>구매   ₩19,900</string>
	<key>selectJobDB</key>
	<string>0</string>
	<key>jobDB_GithubURL</key>
	<string>https://raw.githubusercontent.com/Jay-Hong/Calculendar_JSON/master/jobinfoURL.json</string>
</dict>
</plist>
