<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946948527555-divvgn2etdchkll4e16111ufmikrvb5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946948527555-divvgn2etdchkll4e16111ufmikrvb5n</string>
	<key>API_KEY</key>
	<string>AIzaSyBbJPKLjxVpwPDNcwTArd-kevfE0eEidG4</string>
	<key>GCM_SENDER_ID</key>
	<string>946948527555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jay.Calculendar</string>
	<key>PROJECT_ID</key>
	<string>senn-1c0c2</string>
	<key>STORAGE_BUCKET</key>
	<string>senn-1c0c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946948527555:ios:75d9a1b22d33aecefd1976</string>
</dict>
</plist>